extends layout

block content
    .col-12.col-sm-10
        h1.border-bottom= title
        table(class = 'base-table ')
            tr
                th.p-1 Name
                th.p-1 Category
                th.p-1 Link
            each recipe in all_recipes

                    tr.border-bottom
                        td.p-1
                            | #{recipe.title}
                        td.p-1
                            a(href=recipe.category.url class = 'link-primary ') #{recipe.category.name}
                        td.p-1
                            a(href=recipe.url class = 'link-primary') View Recipe



