extends layout

block content
    .col-10
        h1.border-bottom= title
        each recipe in all_recipes
            table(class = 'base-table ')
                tr.border-bottom
                    td.p-1
                        | #{recipe.title}
                    td.p-1
                        a(href=recipe.category.url class = 'link-primary px-4') #{recipe.category.name}
                    td.p-1
                        a(href=recipe.url class = 'link-primary') View Recipe



